
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
</head>
<div id="PhoneWrapper" style="text-align: center">
<p>
            Choose Dates:
            <br/>
              <label><b>To:</b></label>
            <input type="text" id="input1" size="10">
                <label><b>From:</b></label>
            <input type="text" id="input2" size="10">
            <button id="ClearBtn" onclick="OnClick()">Clear</button>
          </p>
 <div id="PriceRange">
  <div id="GreenPrice" class="pricedisplay">$250+</div>
  <div id="YellowPrice" class="pricedisplay">$275+</div>
  <div id="OrangePrice" class="pricedisplay">$300+</div>
  <div id="RedPrice" class="pricedisplay">$325+</div>
 </div>
<div id="calendar"></div>
</div>
<script src="js/main.js"></script>
</html>
